body {
    overflow: hidden;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#map {
    width: 100vw;
    height: 100vh;
}

#maphubs {
    width: 100vw;
    height: 100vh;
}

/* Add styles for the title */
#map-title {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
    padding: 15px 25px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    opacity: 20;
}

#map-title h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    line-height: 1.3;
}

#map-title h2 {
    margin: 0;
    font-size: 10px;
    font-weight: 100;
    color: #333;
    line-height: 1.3;
}

#legend {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Lato', sans-serif;
}

#legend h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 5px;
}

#legend div {
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-size: 14px;
}

#legend span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

.popup-content {
    padding: 10px;
    max-width: 200px;
    font-family: 'Lato', sans-serif;
}

.popup-content h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
}

.popup-content p {
    margin: 5px 0;
    font-size: 14px;
}


#map-switch-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    font-family: 'Lato', sans-serif;
}
#map-switch-modal .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#map-switch-modal .modal-content h2 {
    margin-bottom: 20px;
}
#map-switch-modal .modal-content button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#map-switch-modal .modal-content button:hover {
    background-color: #ddd;
}